@model PizzaStore.Client.Models.PizzaViewModel

@* html helper - creates a form *@
@using(Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))
{
    @Html.AntiForgeryToken();
    foreach(var crust in Model.Crusts)
    {
        @Html.RadioButtonFor(m => m.Crust, crust.Name);
        @Html.LabelFor(m => m.Crust);
        @Html.ValidationMessageFor(m => m.Crust);
    }

    @* foreach(var topping in Model.Toppings)
    {
        @Html.CheckBoxFor(m => m.SelectedTopping, new { name = "SelectedToppings", value = topping });
        @Html.LabelFor(m => m.SelectedTopping);
        @Html.ValidationMessageFor(m => m.SelectedTopping);
    } *@
    
    @Html.DropDownListFor(m => m.Sizes, new SelectList(Model.Sizes));
    @Html.ValidationMessageFor(m => m.Size);

    <button type="submit">Place Order</button>
}